.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
jenkins/home
mongo/config
mongo/db
mysql/data
nginx/conf
nginx/logs
nginx/www
gitlab/config
gitlab/data
gitlab/logs
es/data
web/logs
web/logs2
consul/data